select count(*) total,
		sum(case when status = 'YetToProcess' then 1 else 0 end) 'Yet To Process',
    sum(case when status = 'InProgress' then 1 else 0 end) 'In Progress',
    sum(case when status = 'Approved' then 1 else 0 end) 'Approved',
    sum(case when status = 'Rejected' then 1 else 0 end) 'Rejected',
    sum(case when status = 'OnHold' then 1 else 0 end) 'On Hold',
    sum(case when status = 'Duplicate' then 1 else 0 end) 'Duplicate',
    sum(case when status = 'DroppedOut' then 1 else 0 end) 'Dropped Out',
    sum(case when status = 'NotInterested' then 1 else 0 end) 'Not Interested',
    sum(case when status = 'Offered' then 1 else 0 end) 'Offered',
    sum(case when status = 'OfferAccepted' then 1 else 0 end) 'Offer Accepted',
    sum(case when status = 'OfferDeclined' then 1 else 0 end) 'Offer Declined',
    sum(case when status = 'Joined' then 1 else 0 end) 'Joined',
    sum(case when status = 'Parsed' then 1 else 0 end) 'Parsed',
    sum(case when status = 'ScreenSelect' then 1 else 0 end) 'Screen Select',
    sum(case when status = 'CVSenttoClient' then 1 else 0 end) 'CV Sent to Client',
    sum(case when status = 'Interview1' then 1 else 0 end) 'Interview 1',
    sum(case when status = 'Interview2' then 1 else 0 end) 'Interview 2',
    sum(case when status = 'Interview3' then 1 else 0 end) 'Interview 3',
    sum(case when status = 'Interview4' then 1 else 0 end) 'Interview 4',
    sum(case when status = 'FinalRound' then 1 else 0 end) 'FinalRound',
    sum(case when status = 'InterviewReject' then 1 else 0 end) 'Interview Reject',
    sum(case when status = 'Interview1Reject' then 1 else 0 end) 'Interview 1 Reject',
    sum(case when status = 'Interview2Reject' then 1 else 0 end) 'Interview 2 Reject',
    sum(case when status = 'Interview3Reject' then 1 else 0 end) 'Interview 3 Reject',
    sum(case when status = 'Interview4Reject' then 1 else 0 end) 'Interview 4 Reject',
    sum(case when status = 'FinalRoundReject' then 1 else 0 end) 'FinalRound Reject',
    sum(case when status = 'FinalRoundSelect' then 1 else 0 end) 'FinalRound Select',
    sum(case when status = 'OfferPending' then 1 else 0 end) 'Offer Pending',
    sum(case when status = 'AwaitingOfferAcceptance' then 1 else 0 end) 'Awaiting Offer Acceptance',
    sum(case when status = 'AwaitingJoining' then 1 else 0 end) 'Awaiting Joining',
    sum(case when status = 'ScreJoineeNoShowenSelect' then 1 else 0 end) 'Joinee NoShow',
    sum(case when status = 'OfferOnHold' then 1 else 0 end) 'Offer OnHold',
    sum(case when status = 'TechCleared' then 1 else 0 end) 'TechCleared',
    sum(case when status = 'ClearedbyL2Awaiting' then 1 else 0 end) 'Cleared by L2 Awaiting',
    sum(case when status = 'ClearedbyL1' then 1 else 0 end) 'Cleared by L1',
    sum(case when status = 'ClearedbyL2' then 1 else 0 end) 'Cleared by L2',
    sum(case when status = 'DroppedByUs' then 1 else 0 end) 'Dropped By Us',
    sum(case when status = 'AwaitingCVUpdate' then 1 else 0 end) 'Awaiting CV Update',
    sum(case when status = 'PreSubmissionRejected' then 1 else 0 end) 'PreSubmission Rejected',
    sum(case when status = 'InterviewNoShow' then 1 else 0 end) 'Interview NoShow',
    sum(case when status = 'FinalRoundSelect' then 1 else 0 end) 'FinalRound Select'
    
from round_candidate where positionCode='${positionCode}' AND sourcedBy='${sourcedBy}' AND modification_date between '${startDate}' And '${endDate}';