<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi, ${candidateName}<br /><br /> We regret to inform you that your Interview/Meeting with {clientName} has been cancelled. We will keep you posted regarding the new schedule.<br /><br /> In case of any concern, feel free to reach out to us.<br /><br /> Regards, <br />${emailSignature}</p>