.basic-container {
    width: 92%;
    margin: 0 auto;
    min-height: 600px;
}

.full-width-container{
    background-color: #ececec;
    width: 100%;
    float:left;
}

.list-menu {
    background-color: #ececec;
    padding: 0;
    margin: 0;
}

.list-items {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

.recruiz-head {
    margin: 0;
    font-size: 15px;
    color: #21bcb0;
    font-weight: 600;
}

.active-button {
    font-size: 12px;
    font-weight: 500;
}

.location {
    margin: 0;
    font-size: 13px;
}

.creation-date {
    color: #b7b7b7;
}

.btn1 {
    background-color: #000;
    outline: none;
    border-color: #000;
    color: #fff;
}

.btn2 {
    background-color: #000b58;
    outline: none;
    border-color: #000b58;
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
}

.list-items:hover {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5 );
}

button:focus {
    outline:none !important;
    box-shadow:none !important;
}

.main-section {
    background-color: #ececec;
    position: relative;
}

.li{
    list-style-type: none;    
}
.page-footer {
    list-style: none;
    font-size: 12px;
    margin: 0 auto;
    padding: 5px;
}
.search-bar {
    width: 18%;
    color: #21bcb0;
    border: 1px solid #21bcb0;
    border-radius: 10%;
    margin: 5px;
}
.material-icons {
    position: relative;
    top: 0px;
}
.right-page-number {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: right;
}
.left-page-number {
    border-left: 1px solid #ddd;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
}
.numbers {
    font-size: 16px;
    color: #8e8686;
}
.number-row {
    margin: 0 auto;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5 );
}
.recruiz-green-color-class {
    background-color: #21bcb0;
    border-radius: 10%;
    color: #fff;
    margin-right: 5px;
}
.client-button {
    font-size: 10px;
}


/* Lower Tab Section  */

.nav-pills {
    background-color: #f0f1f5;
}

.nav-pills li a {
    color: #727375;
    font-size: 13px;
    font-weight: 600;
    padding: 13px 10px;
    position: relative;
}

.nav-pills li a::after{
    content: '|';
    position: absolute;
    top: 10px;
    font-size: 15px;
    color: #ccc;
    font-weight: 100;
    right: 0;
}


.nav-pills li:last-child a::after{
    content: '|';
    position: absolute;
    top: 10px;
    font-size: 15px;
    color: #ccc;
    font-weight: 100;
    right: 0;
    display: none;
}


.nav-pills li.active a::after{
    content: '|';
    position: absolute;
    top: 10px;
    font-size: 15px;
    color: #ccc;
    font-weight: 100;
    right: 0;
    display: none;
}


.selected-tab {
    background-color: #21bcb0;
    color: #fff!important;
}

.client-detailtab{
    background:#fff;
}

.customtabs{
    border-bottom: 1px solid #ddd;
    padding: 12px 20px;
}

.tabs-content{
    min-height:400px;
    position: relative;
}
.client-additional{
    background-color: #f5f7ff;
}
.custom-additional-tab {
    border-bottom: 1px solid #ddd;
    padding: 24px 20px;
}
.title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.description {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #626266;
}
.custom-info {
    padding: 15px;
}
/* .tabs-content p {
    font-size: 12px;
    font-weight: 600;
} */
.title-tab {
    font-size: 14px;
    font-weight: 600;
}
.education-info {
    color: #626266;
}

/* No Decision Makers */
.no-decision {
    position: absolute;
    top: 25%;
    left: 44%;
}

/* interview panel list */
.interview-panel {
    background-color: #f0f1f5;
    margin: 22px;
}
.name {
    font-size: 16px;
    font-weight: 600;
}
.avatar-image {
    float: left;
    padding: 15px;
}

.icon-image {
    width: 150%;
    vertical-align: middle;
    border-style: none;
    background-color: #c6e6e7;
    border-radius: 50%;
}
.panel-details {
    float: left;
    padding: 10px;
}
.bar-options {
    float: right;
    padding: 20px;
}
.color {
    color: #758da8;
    font-weight: 100!important;
    margin: 2px 0px;
}

/* Activity */
.date-time {
    float: right;
    padding: 22px 22px 10px 22px;
}
.date-time h4 {
    font-size: 14px;
    font-weight: 600;
}
.activity-name {
    font-weight: 600;
    font-size: 16px;
}
.panel-details1 {
    float: left;
    padding: 18px;
}
.avatar-image1 {
    float: left;
    padding: 25px 15px;
    clear: both;

}

/* Notes  */ 
.inner-div {
    padding-bottom: 10px;
}
.interview-panel-notes {
    background-color: #f0f1f5;
    margin: 18px;
    padding: 0px 15px;
}
.date {
    float: left;
    padding: 12px;
}
.bar-options1 {
    float: right;
    padding: 8px;
}
.time-date {
    margin-bottom: 0;
    font-size: 13px!important;
}


.avatar-image2 {
    float: left;
    padding: 8px;
}

.panel-details2 {
    float: left;
    width: 90%;
    padding: 5px;
}
.panel-details2 .notes {
    font-size: 14px;
    font-weight: 600;
}
.bottom-div {
    clear: both;
}
.icon-image2 {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    background-color: #c6e6e7;
    border-radius: 50%;
    padding: 10px;
}
.added-by-div {
    clear: both;
    width: 82%;
    margin: 0 auto;
}
.added-by {
    color : #838486;
}

/* Rate */
.no-rate {
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 600;
}
.no-decision1 {
    position: absolute;
    top: 32%;
    left: 46%;
}

/* Docs */
.docs-div {
    padding: 5px;
}
.docs-bg {
    background-color: #758da8;
    margin: 20px 25px 0px 25px;
    padding: 0px 40px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.file-head {
    color: #fff;
    margin: 8px;
    font-size: 14px;
}
.upload-img {
    margin: 6px;
}
.uploaded {
    margin: 0px 25px 15px 25px;
    background-color: #f0f1f5;
    padding: 10px;
}
.file-image {
    float: left;
}
.float {
    overflow: hidden;
    padding: 0px 18px;
}
.docs-icon {
    text-align: right;
    padding-right: 25px;
}
.doc-title {
    font-size: 13px;
    font-weight: 600;
}
.dov-date {
    font-size: 12px;
}
.upload-link {
    padding: 5px 12px;
}

a{
    cursor: pointer;
}

/* Add Interview Panel */
.plus-icon {
    position: absolute;
    top: 70%;
    left: 80%;
}



/*** breadcrumb **/
.top-head {
    background-color: #f0f1f5;
    padding-right: 68px;
}

.heading {
    color: #444767;
    padding: 8px;
    font-size: 22px;
    font-weight: 600;
}

.client {
    margin-left: 30px;
    font-weight: 600;
    font-size: 18px;
}

.client-button {
    font-size: 10px;
}

.rest-part {
    padding: 2px 4px;
    text-align: right;
}

.add-client {
    font-size: 12px;
    color: #21bcb0;
    background-color: #fff;
    text-decoration: none;
    margin-top: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}
.btn-default:active {
    background-color: #21bcb0;
    color: #fff;
    border: 1px solid #21bcb0;
    
}
.side-filters {
    text-decoration: none;
    list-style: none;
}

::ng-deep .mat-drawer-content {
    overflow: hidden;
}

.button-group {
    border: 1px solid #ddd;
    border-radius: 10%;
    background: #fff;
    margin-top: 4px;
}

.button-default {
    padding: 0;
    margin: 0px 16px;
}

.button-second {
    border-left: 1px solid #ddd;
}

.total-position {
    font-weight: 600;
}

.list-inline-item {
    margin: 4px 10px;
}

.main-content {
    background-color: #ececec;
}

.side-filters li:last-child{
    margin-right:0;
}

/**************** Filter ************/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.filter-box {
    width: 25%;
    position: fixed;
    top: 42px;
    right: 53px;
    z-index: 999;
    border: 1px solid #ddd;
    overflow-y: scroll;
    max-height:500px;
}

.filter-box::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #fff;
}

.filter-box::-webkit-scrollbar
{
  width: 5px;
  background-color: #fff;
}

.filter-box::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ddd;
}

.filter {
    font-size: 16px;
    font-weight: 600;
}
.filter-line {
    border-bottom: 2px solid #ddd;
}
.title {
    color: #2e3776;
    font-weight: 600;
    margin-top: 10px;
}
.green-icon {
    margin-top: 10px;
    color: #21bcb0;
}
.status {
    background-color: #f7f8fb;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5 );
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 5px;
}
.status .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    left: 22px;
}
.status input {
    padding-left: 30px;
    width: 85%;
    margin: 10px auto;
}
.status-row {
    margin: 0;
    margin-bottom: 10px;
}
.m-10 {
    margin-bottom: 10px;
}
.bg-green {
    background-color: #21bcb0;
}
.client-name {
    margin-bottom: 45px;
}
i{
    cursor: pointer;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #21bcb0 !important;
}

::ng-deep .mat-checkbox {
    font-size: 13px;
}
.search-result {
    background-color: #f7f8fb;
    margin: 0 auto;
    width: 85%;
    position: relative;
    top: -9px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5 );
    color: #21bcb0;
}

.searchinp{
    position: relative;
}

.search-container{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 32px;
}

.search-container-name{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 81px;
}

#search-result {
    list-style: none;
    padding: 0;
    width: 85%;
    margin: 0px auto 15px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5 );
}
#search-result li a {
    border: 1px solid #ddd;
    border-radius: 4%;
    margin-top: -1px;
    background-color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    color: #21bcb0;
    display: block;
    cursor: pointer;
  }
#search-result li a:hover:not(.header) {
    background-color: #eee;
}

/* Breadcrumb */
.breadcrumb-nav {
    margin-left: 30px;
}
.breadcrumb-list {
    background-color: #f0f1f5;
    margin: 0;
    padding: 0;
}
.breadcrumb-list a {
    color: #444767;
    font-weight: 600;
}
.recruiz-green {
    color: #21bcb0;
}
.bold {
    font-weight: 600;
}

.sort-by {
    padding: 0px 15px;
}

.mat-menu-item {
  height: 35px;
  line-height: 35px;
}

::ng-deep .mat-menu-panel {
  min-height: auto;
}

::ng-deep .mat-menu-item .mat-icon {
  margin-right: 0px;
  vertical-align: middle;
}

h4.place-holders {
  text-align: center;
  padding: 29px 0px 30px 0px;
  font-weight: 500;
}

.side-box {
  padding: 7px 0px 7px 0px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.delete-icon {
  position: relative;
  top: 5px;
  cursor: pointer;
}

.error-msg-custom {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
  color: red;
  font-size: 10px;
}

.disabled-link {
  display: none;
}