<!-- <app-sub-header></app-sub-header> -->
<!-- Breadcrumb Section -->
<div *ngIf="isFilterOpen" class="overlay"></div>
<section class="main-section ">
    <div class="top-head row">
        <div class="heading col-md-8">
            <mat-label class="client">{{pageTitle}}</mat-label>
            <!-- Bread-crum section -->
            <nav *ngIf="isBreadcrumbShow" class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a routerLink="/user/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="{{mainRoute}}">{{mainBreacrumb}}</a></li>
                    <li class="breadcrumb-item recruiz-green bold">{{clientName}}</li>
                </ol>
            </nav>
        </div>
        <div class="rest-part col-md-4">
            <ul class="side-filters list-inline m-0">
                <li class="list-inline-item">
                    <a class="btn btn-default btn-sm add-client" *ngIf="true">
                        <img class="mr-2 add-client-image btn-default" src="../../assets/icons/client-list/Add Client.png">
                        <span class="client-button">Add Client</span>
                    </a>
                    <a class="btn btn-default btn-sm add-client" *ngIf="false">
                        <img class="mr-2 add-client-image btn-default" src="../../assets/icons/client-list/Add Client.png">
                        <span class="client-button">Add Position</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<div class="full-width-container">
    <div class="basic-container">
        <ul class="list-menu">
            <li class="list-items row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="recruiz-head">{{clientName}}</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="active-button"><img src="../../assets/icons/client-list/Radiobutton On.png" alt="">Active</p>
                        </div>
                    </div>
                    <p class="location" style="margin-bottom: 10px;">
                        <img src="../../assets/icons/client-list/Group 5979.png" alt="">{{ client?.address }}
                    </p>
                    <small class="creation-date">Created on : {{ client?.creationDate| date: 'dd-MM-yyyy' }} | Last edited on : {{ client?.modificationDate| date: 'dd-MM-yyyy' }}</small>
                </div>
                <div class="col-md-4">
                    <h6 class="total-position">Total Positions</h6>
                    <p><b>{{totalPosition}}</b></p>
                </div>
                <div class="col-md-3 buttons">
                    <button class="btn btn-default btn-sm btn1 mr-3">
                        <img src="../../assets/icons/client-list/Statistic Icon.png" alt="">Statistics
                    </button>
                    <button class="btn btn-default btn-sm btn2">
                        <img src="../../assets/icons/client-list/Positions Icon.png" alt="">Positions
                    </button>
                </div>
                <div class="col-md-1 text-right">
                    <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <img src="../../assets/icons/client-list/Menu.png" alt="">
                    </a>
                </div>
            </li>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>View profile</button>
                <button mat-menu-item>Add contact</button>
            </mat-menu>
        </ul>
        <!--Lower Tab Section -->
        <div class="row">
            <div class="col-md-8 pr-0">
                <div class="client-detailtab">
                    <div class="customtabs">
                        <mat-tab-group (selectedTabChange)="tabClick($event)">
                            <mat-tab label="DECISION MAKERS">
                                <!-- No Decision Makers -->
                                <div *ngIf="client?.clientDecisionMaker.length === 0">
                                    <div style="min-height: 250px; text-align: center;">
                                        <p class="text-center" style="margin-top: 50px;">
                                            <img src="../../../assets/icons/client-details/no_decision_makers.png" alt="">
                                        </p>
                                        <p><b>No decision makers</b></p>
                                    </div>
                                    <a class="plus-icon" (click)="addDecisionMakerFromDetails(client.clientDecisionMaker, client.clientName, 'addToClient', client.id)">
                                        <img src="../../../assets/icons/client-details/add_interview_panel.png" alt="">
                                    </a>
                                </div>

                                <div *ngIf="client?.clientDecisionMaker.length !== 0" style="min-height: 250px;">
                                    <div class="interview-panel clearfix" *ngFor="let decisionMaker of client?.clientDecisionMaker">
                                        <div class="avatar-image">
                                            <ngx-avatar name="{{ decisionMaker?.name }}" class="avatar" initialsSize="1" size="50" textSizeRatio="2"></ngx-avatar>
                                        </div>
                                        <div class="panel-details">
                                            <h4 class="name">{{ decisionMaker?.name }}</h4>
                                            <p class="color">
                                                <img src="../../../assets/icons/client-details/Email.png" alt=""> {{ decisionMaker?.email }}
                                            </p>

                                            <p class="color" *ngIf="decisionMaker?.mobile">
                                                <img src="../../../assets/icons/client-details/Phone.png" alt=""> {{ decisionMaker?.mobile }}
                                            </p>
                                            <p class="color" *ngIf="!decisionMaker?.mobile">
                                                <img src="../../../assets/icons/client-details/Phone.png" alt=""> N/A
                                            </p>
                                        </div>

                                        <div class="bar-options">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="updateDescisionMaker(decisionMaker, client.clientName, 'update')">
                                                <img src="../../../assets/icons/client-details/Edit.png" alt=""> Edit
                                            </button>
                                            <button mat-menu-item (click)="deleteDecisionMaker(client.id, decisionMaker.id)">
                                                <img src="../../../assets/icons/client-details/Delete.png"
                                                alt=""> Delete
                                            </button>
                                        </mat-menu>

                                    </div>
                                    <a class="plus-icon" (click)="addDecisionMakerFromDetails(client.clientDecisionMaker, client.clientName, 'addToClient', client.id)">
                                        <img src="./../../../assets/icons/client-details/add_interview_panel.png" alt="">
                                    </a>
                                </div>
                            </mat-tab>

                            <mat-tab label="INTERVIEW PANEL">
                                <!-- No Interview Panel -->
                                <div *ngIf="client?.clientInterviewerPanel.length === 0">
                                    <div class="no-decision">
                                        <p class="text-center">
                                            <img src="../../../assets/icons/client-details/no_interview_panel.png" alt="">
                                        </p>
                                        <p>No Interview Panel</p>
                                    </div>
                                    <a class="plus-icon" (click)="addClientInterviewerDetails(client.clientInterviewerPanel, client.clientName, 'addToClient', client.id)">
                                        <img src="./../../../assets/icons/client-details/add_interview_panel.png" alt="">
                                    </a>
                                </div>
                                <!-- Interview Panel List -->
                                <div *ngIf="client?.clientInterviewerPanel.length !== 0">
                                    <div class="interview-panel clearfix" *ngFor="let interview of client?.clientInterviewerPanel">
                                        <div class="avatar-image">
                                            <ngx-avatar name="{{ interview?.name }}" class="avatar" initialsSize="1" size="50" textSizeRatio="2"></ngx-avatar>
                                        </div>
                                        <div class="panel-details">
                                            <h4 class="name">{{ interview?.name }}</h4>
                                            <p class="color">
                                                <img src="../../../assets/icons/client-details/Email.png" alt=""> {{ interview?.email }}
                                            </p>

                                            <p class="color" *ngIf="interview?.mobile">
                                                <img src="../../../assets/icons/client-details/Phone.png" alt=""> {{ interview?.mobile }}
                                            </p>
                                            <p class="color" *ngIf="!interview?.mobile">
                                                <img src="../../../assets/icons/client-details/Phone.png" alt=""> N/A
                                            </p>
                                        </div>

                                        <div class="bar-options">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="updateClientInterviwer(interview, client.clientName, 'update')">
                                                <img src="../../../assets/icons/client-details/Edit.png" alt=""> Edit
                                            </button>
                                            <button mat-menu-item (click)="deleteInterviewerFromClient(client.id, interview.id)">
                                                <img src="../../../assets/icons/client-details/Delete.png" alt=""> Delete
                                            </button>
                                        </mat-menu>

                                    </div>
                                    <a class="plus-icon" (click)="addClientInterviewerDetails(client.clientInterviewerPanel, client.clientName, 'addToClient', client.id)">
                                        <img src="./../../../assets/icons/client-details/add_interview_panel.png" alt="">
                                    </a>
                                </div>
                            </mat-tab>

                            <mat-tab label="ACTIVITY">
                                <!-- Activity List -->
                                <div class="inner-div">
                                    <div class="interview-panel clearfix" *ngFor="let activity of allActivity">
                                        <div class="avatar-image">
                                            <img src="../../../assets/icons/Positions-list/notification.png" alt="">
                                        </div>
                                        <div class="panel-details">
                                            <h4 class="name">{{ activity?.actionByEmal }}</h4>
                                            <p class="color"> {{ activity?.time| date: 'h:mma, dd-MMM-yyyy' }}
                                            </p>
                                            <p class="color" [innerHtml]="activity.message">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="totalPages !== 1">
                                        <a style="position: relative; left: 42%;" [ngClass]="{'disabled-link': totalPages === currentActivityPage}" (click)="getNextActivity()">Load More...</a>
                                    </div>

                                    <div *ngIf="allActivity?.length === 0">
                                        <h4 style="text-align: center; padding: 20px 0px 20px 0px;">No recod found...</h4>.
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="NOTES">
                                <!-- Note List -->
                                <div class="inner-div" style="min-height: 220px;">
                                    <div class="interview-panel-notes clearfix" *ngFor="let notes of allNotes">
                                        <div class="date">
                                            <p class="time-date">{{ notes?.creationDate | date: 'MMM dd yyyy, h:m a'}}</p>
                                        </div>
                                        <div class="bar-options1">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="updateClientNotes(notes)">
                                            <img src="../../../assets/icons/client-details/Edit.png" alt=""> Edit
                                        </button>

                                            <button mat-menu-item (click)="deleteClientNotes(notes.id)">
                                            <img src="../../../assets/icons/client-details/Delete.png" alt=""> Delete
                                        </button>
                                        </mat-menu>
                                        <div class="bottom-div">
                                            <div class="avatar-image2">
                                                <img class="icon-image2" src="../../../assets/icons/Positions-list/Notes.png" alt="">
                                            </div>
                                            <div class="panel-details2">
                                                <p class="notes" [innerHtml]="notes.notes"></p>
                                            </div>
                                            <div class="added-by-div">
                                                <p class="added-by">
                                                    Added by: <b>{{ notes?.addedBy }}</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="plus-icon" (click)="openDialogClientsNotes('')">
                                        <img src="./../../../assets/icons/client-details/add_interview_panel.png" alt="">
                                    </a>

                                    <div class="no-decision" *ngIf="allNotes?.length === 0">
                                        <p class="text-center">
                                            <img src="../../../assets/icons/Positions-list/Notes.png" alt="">
                                        </p>
                                        <p>No notes added to position</p>
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="RATES" *ngIf="globalData.orgType !== 'Corporate'">
                                <!-- No Rates -->
                                <div class="inner-div" style="min-height: 220px;">
                                    <div *ngIf="allRates?.length === 0">
                                        <p class="text-center" style="margin: 100px;">
                                            <img src="../../../assets/icons/client-details/no_rate.png" alt="">
                                        </p>
                                        <p class="text-center no-rate">No Rate</p>
                                        <a class="plus-icon" (click)="openDialogClientsRates('add-rates', '')">
                                            <img src="./../../../assets/icons/client-details/add_interview_panel.png " alt=" ">
                                        </a>
                                    </div>
                                    <!-- Rate List -->
                                    <div *ngIf="allRates?.length !== 0" style="margin-top: 20px;">
                                        <div class="row uploaded" *ngFor="let rate of allRates">
                                            <div class="col-md-8">
                                                <img class="file-image" src="../../../assets/icons/client-details/no_rate.png" alt="">
                                                <div class="float">
                                                    <p class="doc-title"><b>Name:</b> {{ rate?.name }}</p>
                                                    <p class="doc-date"><b>Value:</b> {{ rate?.value }}</p>
                                                    <p class="doc-date"><b>Type:</b>{{ rate?.type }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 docs-icon">
                                                <a (click)="updateClientRate('update', rate)">
                                                    <img class="mr-4" src="../../../assets/icons/client-details/Edit.png" alt="">
                                                </a>
                                                <a>
                                                    <img src="../../../assets/icons/client-details/Delete.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <a class="plus-icon" (click)="openDialogClientsRates('add-rates', '')">
                                            <img src="./../../../assets/icons/client-details/add_interview_panel.png " alt=" ">
                                        </a>
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="DOCS">
                                <!-- No Docs -->
                                <div *ngIf="isDocsEmpty">

                                </div>
                                <!-- Docs List -->
                                <div>
                                    <div class="docs-bg row">
                                        <div class=" col-md-8">
                                            <p class="file-head">File Name</p>
                                        </div>
                                        <div class="col-md-4 text-right upload-link">
                                            <a class="upload-img">
                                                <img src="../../../assets/icons/client-details/Upload.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="row uploaded">
                                        <div class="col-md-8">
                                            <img class="file-image" src="../../../assets/icons/client-details/File.png" alt="">
                                            <div class="float">
                                                <p class="doc-title">Shot_2.png</p>
                                                <p class="doc-date">Uploaded On 07-12-2019, 1:29 PM</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 docs-icon">
                                            <a class="mr-4"><img src="../../../assets/icons/client-details/Download.png" alt=""></a>
                                            <a><img src="../../../assets/icons/client-details/Delete.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="row uploaded">
                                        <div class="col-md-8">
                                            <img class="file-image" src="../../../assets/icons/client-details/File.png" alt="">
                                            <div class="float">
                                                <p class="doc-title">Shot_2.png</p>
                                                <p class="doc-date">Uploaded On 07-12-2019, 1:29 PM</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 docs-icon">
                                            <a><img class="mr-4" src="../../../assets/icons/client-details/Download.png" alt=""></a>
                                            <a><img src="../../../assets/icons/client-details/Delete.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="row uploaded">
                                        <div class="col-md-8">
                                            <img class="file-image" src="../../../assets/icons/client-details/File.png" alt="">
                                            <div class="float">
                                                <p class="doc-title">Shot_2.png</p>
                                                <p class="doc-date">Uploaded On 07-12-2019, 1:29 PM</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 docs-icon">
                                            <a><img class="mr-4" src="../../../assets/icons/client-details/Download.png" alt=""></a>
                                            <a><img src="../../../assets/icons/client-details/Delete.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="row uploaded">
                                        <div class="col-md-8">
                                            <img class="file-image" src="../../../assets/icons/client-details/File.png" alt="">
                                            <div class="float">
                                                <p class="doc-title">Shot_2.png</p>
                                                <p class="doc-date">Uploaded On 07-12-2019, 1:29 PM</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 docs-icon">
                                            <a><img class="mr-4" src="../../../assets/icons/client-details/Download.png" alt=""></a>
                                            <a><img src="../../../assets/icons/client-details/Delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
            <!-- Right Side Main Block -->
            <!-- --------------------- -->
            <div class="col-md-4">
                <div class="client-additional">
                    <div class="custom-additional-tab">
                        <p class="title">ADDITIONAL INFO</p>
                    </div>
                    <div class="tabs-content">
                        <div class="description">
                            <p *ngIf="client?.website">Website : {{ client?.website }}</p>
                            <p *ngIf="!client?.website">Website : N/A</p>

                            <p *ngIf="client?.empSize">Size : {{ client?.empSize }}</p>
                            <p *ngIf="!client?.empSize">Size : N/A</p>

                            <p *ngIf="client?.turnOvr">Turnover : {{client?.turnOvr}}</p>
                            <p *ngIf="!client?.turnOvr">Turnover : N/A</p>

                            <p *ngIf="client?.notes">About Client : <span [innerHtml]="client.notes"></span></p>
                            <p *ngIf="!client?.notes">About Client : N/A</p>
                        </div>
                        <div class="custom-info">
                            <h4 class="title-tab">Custom info</h4>
                            <div>
                                <p class="education-info" *ngFor="let item of client?.customeField | keyvalue">{{ item.key }}:
                                    <span *ngIf="item.value">{{ item.value }}</span> <span *ngIf="!item.value"> N/A </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>