<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi,<br /><br />Your interview with ${candidateName} for ${positionName} at ${clientName} has been cancelled. Sorry for the inconvenience. I will keep you posted regarding the new schedule. <br /><br />Good day.<br /><br />Regards, <br />${emailSignature}</p>