<p>Hi, <br /><br />Few candidate profiles for the role of - ${positionName} have been forwarded to you for Review &amp; Feedback. <br />Please click on the link below to View and Share your Feedback. <br /><br />${emailSignature}</p>