 <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 16px;margin-bottom: 24px;">
 Hi,<br/><br/>Interview has been scheduled(rescheduled). Details are given below:<br/><br/>Candidate Name: ${candidateName}<br/>Position: ${positionName}<br/>${clientLable}: ${clientName}<br/><br/>The calendar invite is also attached with this email. Please accept the invite to add the event to your calendar.
   </p>