<h4 md-dialog-title>Schedule Interview for {{ data?.name }}</h4>
<hr>
<div class="clearfix"></div>
<mat-dialog-content>

    <div class="row">
        <div class="col-md-12">
            <mat-tab-group [selectedIndex]="currentActiveTab" (selectedIndexChange)="getCurentTabValues($event)">
                <mat-tab *ngFor="let tab of tabs; let index = index" [label]="'Interview ' + (index + 1)">
                    <div class="row-flex">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field>
                                        <mat-label>Stage Name</mat-label>
                                        <mat-select [(ngModel)]="tab.roundName">
                                            <mat-option *ngFor="let round of roundDataList | keyvalue" [value]="round.key">
                                                {{round.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                                      Remove
                                    </button>
                                </div>
                            </div>

                            <!--intreviewer-->
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Select Interviewer</h5>
                                </div>
                                <div class="col-md-4" *ngFor="let user of tab.interviewPanelData">
                                    <mat-checkbox [(ngModel)]="user.checkedStatus"> {{ user?.name }}</mat-checkbox>
                                </div>

                                <div class="col-md-12" *ngIf="tab.manualAddedInterviewerList.length !== 0">
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let interviewer of tab.manualAddedInterviewerList; let indx = index">
                                            {{ interviewer?.name }}
                                            <span class="material-icons" (click)="removeInterviewer(indx, index)" style="cursor: pointer;">cancel</span>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>

                            <!--intreviewer manual-->
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-accordion>
                                        <mat-expansion-panel #first="matExpansionPanel">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <b>Add Interviewer Manual</b>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-label>Name</mat-label>
                                                        <input matInput [(ngModel)]="interviewerName">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-label>Email</mat-label>
                                                        <input matInput [(ngModel)]="interviewerEmail">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-label>Phone Number</mat-label>
                                                        <input matInput [(ngModel)]="interviewerNumber">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <button mat-raised-button color="primary" (click)="manualAddedInterviewer(index, first)">
                                                      Add & Close
                                                    </button>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>

                            <!--date and time-->
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Select Date and Time</h5>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker" #picker [(ngModel)]="tab.currentDate" disabled>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">

                                </div>

                                <div class="col-md-4">

                                </div>
                            </div>

                            <hr />

                        </div>

                        <div class="vertical-divider"></div>
                        <div class="col-md-6">
                            Contents for {{tab?.tabIndex}} tab
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-dialog-content>

<hr>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCloseConfirm()">
      CANCEL
    </button>

    <button mat-raised-button color="default" (click)="addMoreTab()">
      Schedule more interview
    </button>

    <button mat-raised-button color="primary">
      Save & Send
    </button>
</mat-dialog-actions>
