<app-pipeline-sub-header></app-pipeline-sub-header>
<section class="main-section pt-5">
    <div class="basic-container">
        <div class="row">
            <div class="col-md-3">
                <div class="head">
                    <h5>Sourcing <span class="orange">( 1 )</span></h5>
                    <img src="../../../../assets/icons/Positions-list/Sortby.png" alt="">
                </div>
                <div class="bg-color-white">
                    <div class="bg-color-grey">
                            <div class="col-md-2 alphabet-image fl-left">
                                <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                    alt="">
                            </div>
                            <div class="col-md-10 fl-left pd-r0">
                                <p class="name">Nirmal raj jebestin</p>
                                <div class="bar-options1">
                                    <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                        <img src="../../assets/icons/client-list/Menu.png" alt="">
                                    </a>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                        Edit</button>
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                            alt="">
                                        Delete</button>
                                </mat-menu>
                                <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                        alt="">5484131244312</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning process-button">Yet To
                                        Process</button>
                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <ul class="inline-email">
                                    <li>
                                        <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                alt="">sajin@recruiz.com
                                        </a>
                                    </li>
                                    <li>
                                            <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                alt=""> Schedule Interview</button>
                                    </li>
                                    <li class="pull-right">
                                            <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        <div class="lower-tab">
                            <div class="col-md-10 fl-left nopadding">
                                <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                            </div>
                            <div class="col-md-2 text-right fl-left pd-r0">
                                <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                            </div>
                        </div>


                    </div>


                    <div class="bg-color-grey">
                            <div class="col-md-2 alphabet-image fl-left">
                                <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                    alt="">
                            </div>
                            <div class="col-md-10 fl-left pd-r0">
                                <p class="name">Nirmal raj jebestin</p>
                                <div class="bar-options1">
                                    <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                        <img src="../../assets/icons/client-list/Menu.png" alt="">
                                    </a>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                        Edit</button>
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                            alt="">
                                        Delete</button>
                                </mat-menu>
                                <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                        alt="">5484131244312</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning process-button">Yet To
                                        Process</button>
                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <ul class="inline-email">
                                    <li>
                                        <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                alt="">sajin@recruiz.com
                                        </a>
                                    </li>
                                    <li>
                                            <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                alt=""> Schedule Interview</button>
                                    </li>
                                    <li class="pull-right">
                                            <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        <div class="lower-tab">
                            <div class="col-md-10 fl-left nopadding">
                                <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                            </div>
                            <div class="col-md-2 text-right fl-left pd-r0">
                                <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                            </div>
                        </div>


                    </div>

                    <div class="bg-color-grey">
                            <div class="col-md-2 alphabet-image fl-left">
                                <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                    alt="">
                            </div>
                            <div class="col-md-10 fl-left pd-r0">
                                <p class="name">Nirmal raj jebestin</p>
                                <div class="bar-options1">
                                    <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                        <img src="../../assets/icons/client-list/Menu.png" alt="">
                                    </a>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                        Edit</button>
                                    <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                            alt="">
                                        Delete</button>
                                </mat-menu>
                                <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                        alt="">5484131244312</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning process-button">Yet To
                                        Process</button>
                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <ul class="inline-email">
                                    <li>
                                        <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                alt="">sajin@recruiz.com
                                        </a>
                                    </li>
                                    <li>
                                            <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                alt=""> Schedule Interview</button>
                                    </li>
                                    <li class="pull-right">
                                            <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        <div class="lower-tab">
                            <div class="col-md-10 fl-left nopadding">
                                <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                            </div>
                            <div class="col-md-2 text-right fl-left pd-r0">
                                <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="head">
                        <h5>Sourcing <span class="orange">( 1 )</span></h5>
                        <img src="../../../../assets/icons/Positions-list/Sortby.png" alt="">
                    </div>
                    <div class="bg-color-white">
                        <div class="bg-color-grey">
                                <div class="col-md-2 alphabet-image fl-left">
                                    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                        alt="">
                                </div>
                                <div class="col-md-10 fl-left pd-r0">
                                    <p class="name">Nirmal raj jebestin</p>
                                    <div class="bar-options1">
                                        <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                            <img src="../../assets/icons/client-list/Menu.png" alt="">
                                        </a>
                                    </div>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                            Edit</button>
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                alt="">
                                            Delete</button>
                                    </mat-menu>
                                    <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                            alt="">5484131244312</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning process-button">Yet To
                                            Process</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <ul class="inline-email">
                                        <li>
                                            <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                    alt="">sajin@recruiz.com
                                            </a>
                                        </li>
                                        <li>
                                                <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                    alt=""> Schedule Interview</button>
                                        </li>
                                        <li class="pull-right">
                                                <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                    alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            <div class="lower-tab">
                                <div class="col-md-10 fl-left nopadding">
                                    <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                </div>
                                <div class="col-md-2 text-right fl-left pd-r0">
                                    <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                </div>
                            </div>
    
    
                        </div>
    
    
                        <div class="bg-color-grey">
                                <div class="col-md-2 alphabet-image fl-left">
                                    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                        alt="">
                                </div>
                                <div class="col-md-10 fl-left pd-r0">
                                    <p class="name">Nirmal raj jebestin</p>
                                    <div class="bar-options1">
                                        <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                            <img src="../../assets/icons/client-list/Menu.png" alt="">
                                        </a>
                                    </div>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                            Edit</button>
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                alt="">
                                            Delete</button>
                                    </mat-menu>
                                    <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                            alt="">5484131244312</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning process-button">Yet To
                                            Process</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <ul class="inline-email">
                                        <li>
                                            <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                    alt="">sajin@recruiz.com
                                            </a>
                                        </li>
                                        <li>
                                                <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                    alt=""> Schedule Interview</button>
                                        </li>
                                        <li class="pull-right">
                                                <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                    alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            <div class="lower-tab">
                                <div class="col-md-10 fl-left nopadding">
                                    <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                </div>
                                <div class="col-md-2 text-right fl-left pd-r0">
                                    <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                </div>
                            </div>
    
    
                        </div>
    
                        <div class="bg-color-grey">
                                <div class="col-md-2 alphabet-image fl-left">
                                    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                        alt="">
                                </div>
                                <div class="col-md-10 fl-left pd-r0">
                                    <p class="name">Nirmal raj jebestin</p>
                                    <div class="bar-options1">
                                        <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                            <img src="../../assets/icons/client-list/Menu.png" alt="">
                                        </a>
                                    </div>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                            Edit</button>
                                        <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                alt="">
                                            Delete</button>
                                    </mat-menu>
                                    <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                            alt="">5484131244312</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning process-button">Yet To
                                            Process</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <ul class="inline-email">
                                        <li>
                                            <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                    alt="">sajin@recruiz.com
                                            </a>
                                        </li>
                                        <li>
                                                <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                    alt=""> Schedule Interview</button>
                                        </li>
                                        <li class="pull-right">
                                                <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                    alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            <div class="lower-tab">
                                <div class="col-md-10 fl-left nopadding">
                                    <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                </div>
                                <div class="col-md-2 text-right fl-left pd-r0">
                                    <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                        <div class="head">
                            <h5>Sourcing <span class="orange">( 1 )</span></h5>
                            <img src="../../../../assets/icons/Positions-list/Sortby.png" alt="">
                        </div>
                        <div class="bg-color-white">
                            <div class="bg-color-grey">
                                    <div class="col-md-2 alphabet-image fl-left">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                            alt="">
                                    </div>
                                    <div class="col-md-10 fl-left pd-r0">
                                        <p class="name">Nirmal raj jebestin</p>
                                        <div class="bar-options1">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                Edit</button>
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                    alt="">
                                                Delete</button>
                                        </mat-menu>
                                        <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                alt="">5484131244312</p>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning process-button">Yet To
                                                Process</button>
                                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                        <ul class="inline-email">
                                            <li>
                                                <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                        alt="">sajin@recruiz.com
                                                </a>
                                            </li>
                                            <li>
                                                    <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                        alt=""> Schedule Interview</button>
                                            </li>
                                            <li class="pull-right">
                                                    <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                        alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="lower-tab">
                                    <div class="col-md-10 fl-left nopadding">
                                        <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                    </div>
                                    <div class="col-md-2 text-right fl-left pd-r0">
                                        <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                    </div>
                                </div>
        
        
                            </div>
        
        
                            <div class="bg-color-grey">
                                    <div class="col-md-2 alphabet-image fl-left">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                            alt="">
                                    </div>
                                    <div class="col-md-10 fl-left pd-r0">
                                        <p class="name">Nirmal raj jebestin</p>
                                        <div class="bar-options1">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                Edit</button>
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                    alt="">
                                                Delete</button>
                                        </mat-menu>
                                        <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                alt="">5484131244312</p>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning process-button">Yet To
                                                Process</button>
                                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                        <ul class="inline-email">
                                            <li>
                                                <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                        alt="">sajin@recruiz.com
                                                </a>
                                            </li>
                                            <li>
                                                    <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                        alt=""> Schedule Interview</button>
                                            </li>
                                            <li class="pull-right">
                                                    <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                        alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="lower-tab">
                                    <div class="col-md-10 fl-left nopadding">
                                        <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                    </div>
                                    <div class="col-md-2 text-right fl-left pd-r0">
                                        <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                    </div>
                                </div>
        
        
                            </div>
        
                            <div class="bg-color-grey">
                                    <div class="col-md-2 alphabet-image fl-left">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                            alt="">
                                    </div>
                                    <div class="col-md-10 fl-left pd-r0">
                                        <p class="name">Nirmal raj jebestin</p>
                                        <div class="bar-options1">
                                            <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                <img src="../../assets/icons/client-list/Menu.png" alt="">
                                            </a>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                Edit</button>
                                            <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                    alt="">
                                                Delete</button>
                                        </mat-menu>
                                        <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                alt="">5484131244312</p>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning process-button">Yet To
                                                Process</button>
                                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                        <ul class="inline-email">
                                            <li>
                                                <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                        alt="">sajin@recruiz.com
                                                </a>
                                            </li>
                                            <li>
                                                    <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                        alt=""> Schedule Interview</button>
                                            </li>
                                            <li class="pull-right">
                                                    <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                        alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="lower-tab">
                                    <div class="col-md-10 fl-left nopadding">
                                        <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                    </div>
                                    <div class="col-md-2 text-right fl-left pd-r0">
                                        <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                            <div class="head">
                                <h5>Sourcing <span class="orange">( 1 )</span></h5>
                                <img src="../../../../assets/icons/Positions-list/Sortby.png" alt="">
                            </div>
                            <div class="bg-color-white">
                                <div class="bg-color-grey">
                                        <div class="col-md-2 alphabet-image fl-left">
                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                                alt="">
                                        </div>
                                        <div class="col-md-10 fl-left pd-r0">
                                            <p class="name">Nirmal raj jebestin</p>
                                            <div class="bar-options1">
                                                <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                    <img src="../../assets/icons/client-list/Menu.png" alt="">
                                                </a>
                                            </div>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                    Edit</button>
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                        alt="">
                                                    Delete</button>
                                            </mat-menu>
                                            <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                    alt="">5484131244312</p>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning process-button">Yet To
                                                    Process</button>
                                                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <ul class="inline-email">
                                                <li>
                                                    <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                            alt="">sajin@recruiz.com
                                                    </a>
                                                </li>
                                                <li>
                                                        <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                            alt=""> Schedule Interview</button>
                                                </li>
                                                <li class="pull-right">
                                                        <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                            alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                    <div class="lower-tab">
                                        <div class="col-md-10 fl-left nopadding">
                                            <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                        </div>
                                        <div class="col-md-2 text-right fl-left pd-r0">
                                            <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                        </div>
                                    </div>
            
            
                                </div>
            
            
                                <div class="bg-color-grey">
                                        <div class="col-md-2 alphabet-image fl-left">
                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                                alt="">
                                        </div>
                                        <div class="col-md-10 fl-left pd-r0">
                                            <p class="name">Nirmal raj jebestin</p>
                                            <div class="bar-options1">
                                                <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                    <img src="../../assets/icons/client-list/Menu.png" alt="">
                                                </a>
                                            </div>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                    Edit</button>
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                        alt="">
                                                    Delete</button>
                                            </mat-menu>
                                            <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                    alt="">5484131244312</p>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning process-button">Yet To
                                                    Process</button>
                                                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <ul class="inline-email">
                                                <li>
                                                    <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                            alt="">sajin@recruiz.com
                                                    </a>
                                                </li>
                                                <li>
                                                        <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                            alt=""> Schedule Interview</button>
                                                </li>
                                                <li class="pull-right">
                                                        <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                            alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                    <div class="lower-tab">
                                        <div class="col-md-10 fl-left nopadding">
                                            <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                        </div>
                                        <div class="col-md-2 text-right fl-left pd-r0">
                                            <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                        </div>
                                    </div>
            
            
                                </div>
            
                                <div class="bg-color-grey">
                                        <div class="col-md-2 alphabet-image fl-left">
                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=16&h=16&auto=compress&dpr=3&fit=max"
                                                alt="">
                                        </div>
                                        <div class="col-md-10 fl-left pd-r0">
                                            <p class="name">Nirmal raj jebestin</p>
                                            <div class="bar-options1">
                                                <a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                                                    <img src="../../assets/icons/client-list/Menu.png" alt="">
                                                </a>
                                            </div>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Edit.png" alt="">
                                                    Edit</button>
                                                <button mat-menu-item><img src="../../../assets/icons/client-details/Delete.png"
                                                        alt="">
                                                    Delete</button>
                                            </mat-menu>
                                            <p class="phone-number"><img src="../../../../assets/icons/Positions-list/Phone.png"
                                                    alt="">5484131244312</p>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning process-button">Yet To
                                                    Process</button>
                                                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split process-button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <ul class="inline-email">
                                                <li>
                                                    <a href="mailto:sajin@recruiz.com" class="email"><img class="mr-2" src="../../../../assets/icons/Positions-list/Email.png"
                                                            alt="">sajin@recruiz.com
                                                    </a>
                                                </li>
                                                <li>
                                                        <button class="btn btn-sm btn-outline-info schedule-button"><img src="../../../../assets/icons/Positions-list/Schedule time.png"
                                                            alt=""> Schedule Interview</button>
                                                </li>
                                                <li class="pull-right">
                                                        <a href="" class="opening-button"><img src="../../../../assets/icons/Positions-list/Share.png"
                                                            alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                    <div class="lower-tab">
                                        <div class="col-md-10 fl-left nopadding">
                                            <p class="block-footer">Sourced : Naukri | Sourced By:antony@beyondbytes.co.in | Added to pipeline : 2 (Day)s Ago</p>
                                        </div>
                                        <div class="col-md-2 text-right fl-left pd-r0">
                                            <a href=""><img src="../../../../assets/icons/Positions-list/Feedback.png" alt=""></a>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</section>