<!-- <div class="basic-container">
    <div class="row m-0">
        <div class="col-md-4 pipeline-heading">
            <h5>Pipeline for UI Delveloper</h5>
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a routerLink="/user/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/user/positions-list">Positions</a></li>
                    <li class="breadcrumb-item"><a routerLink="{{mainRoute}}">UI Developer</a></li>
                    <li class="breadcrumb-item recruiz-green bold">Pipeline</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="search-cont">
                <a href=""><img class="list-view" src="../../../../assets/icons/Positions-list/List view.png" alt=""></a>
                <input type="text" class="form-control search" placeholder="Search pipeline">
                <i class="fa fa-search search-icon"></i>
            </div>

            <div class="candidate-button">
                <p>
                    <input type="radio" name="candidate">
                    <label for="">All Candidate</label>
                </p>
                <p>
                    <input type="radio" name="candidate">
                    <label for="">My Candidate</label>
                </p>
            </div>


        </div>
        <div class="col-md-5 text-center">
            <a class="add-client" href=""><img src="../../../../assets/icons/Positions-list/Add_Client.png" alt="">Add
                Candidate</a>
            <a class="add-edit-client" href=""><img class="add-edit-image" src="../../../../assets/icons/Positions-list/Add - edit.png"
                    alt="">Add / Edit Stages</a>
            <a href=""><img class="tracker" src="../../../../assets/icons/Positions-list/tracker.png" alt=""></a>
            <a href=""><img class="tracker" src="../../../../assets/icons/Positions-list/Refresh.png" alt=""></a>
            <a href=""><img class="tracker" src="../../../../assets/icons/Positions-list/Filter.png" alt=""></a>
        </div>
    </div>
</div> -->
