<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi ${candidateName}, <br /><br />It was great talking to you about current opportunities with ${clientName} for the position of ${positionName}. <br />As part of the Interview cycle we&rsquo;d like to inform you, that your Profile has been shortlisted for further evaluation. We are scheduling your Telephonic Interview. Please find attached the interview schedule details as a calendar invite along with this email.<br /> Kindly confirm your availability for the same. <br /><br /> In case of any queries, feel free to reach out to us.<br />POC Name : <br />Contact# : <br />E-mail :<br /><br />&nbsp;${emailSignature}</p>