SELECT 
	substring_index(fr.reason,'-',1) AS 'Rejection Reason', COUNT(fr.id) AS 'Total Number'
FROM 
	feedback_reason fr
INNER JOIN 
	feedback f ON f.id = fr.id
INNER JOIN 
	round_candidate rc ON f.round_candidate = rc.id
INNER JOIN POSITION p ON p.positionCode = rc.positionCode
WHERE p.client_id = '$clientId'
GROUP BY
	 substring_index(fr.reason,'-',1);