SELECT 
	count(c.cid) as 'Total Number' , c.gender as 'Gender', p.title as 'Position Name'
FROM 
	candidate c 
INNER JOIN 
	round_candidate rc on rc.candidate_cid = c.cid  
INNER JOIN 
	position p on p.positionCode = rc.positionCode
GROUP BY
	 c.gender ,rc.positionCode;