SELECT 
	c.source as 'Source Channel', count(c.cid) as 'Total Number' 
FROM 
	candidate c 
INNER JOIN 
	round_candidate rc on rc.candidate_cid = c.cid 
INNER JOIN 
	position p on p.positionCode = rc.positionCode
GROUP BY
	 c.source;