<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi ${candidateName}, <br /><br />Your Face-to-Face meeting for ${positionName} at ${clientName}&nbsp;has been scheduled / rescheduled.&nbsp; Please find the details mentioned here.&nbsp;<strong>Office location: </strong><br /><strong>Organization Name: </strong> <br /><strong>Complete address:</strong><br /><strong>City:</strong><br /><strong>Landmark:&nbsp;</strong><br /><strong>Map Location:&nbsp;</strong><br />Kindly try and reach about 5-10 minutes before scheduled time. Feel free to connect with us if you're unable to locate the Office. <br />POC Name : ${hrName}<br />Contact# : ${hrMobile}<br />E-mail : <br /><br /><br />&nbsp;${emailSignature}</p>