SELECT 
    (SELECT 
            SUM(last_hit_gap)
        FROM
            $tableName
        WHERE
            time > (UTC_TIMESTAMP() - INTERVAL $intervalInMinute MINUTE)
                AND last_hit_gap > $idleTimeout) totalIdleTime;

