<p>Hello,</p>
<p>Hope you're doing good ! <br />I came across your Profile and found it to be quite interesting. I understand that you are looking for new opportunities and would like to connect with you to discuss about an opportunity at&nbsp; ${orgName}. <br />Please do let me know a suitable time along with your contact details so as to discuss and network further. Feel free to reach out to us for any concerns.</p>
<p>&nbsp;</p>
<p> ${emailSignature}</p>