<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi ${candidateName}, <br /><br />Hope you're doing good ! <br />I came across your Profile and found it to be quite interesting. I understand that you are looking for new opportunities and would like to connect with you to discuss an opportunity at ${clientName} as ${positionName}. <br /><br />Please do let me know a suitable time along with your contact details so as to discuss and network further. Feel free to reach out to me for any concerns. <br /><br /><br />&nbsp;${emailSignature}</p>