<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Hi,<br /><br />Your interview with ${candidateName} for ${positionName} at ${clientName} has been re-scheduled. The new calendar invite for the same is attached with this email.</p>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 23px; margin-top: 16px; margin-bottom: 24px;">Interviewer(s) : ${interviewerList}<br /><br />Good day.<br /><br />&nbsp;${emailSignature}</p>
<p>&nbsp;</p>